extends small_header
block main-container
 .container
  h3 #{title}
   form(method='post',action='')
    fieldset
     label Име: 
      input(type='text',name='region_name',value='#{region_name}')
     label Описание: 
      textarea(name='region_description',rows='10',cols='50') #{region_description}

     input.btn.btn-primary(type='submit');