extends small_header
block main-container
 <div id='container-masonry' class='container thumbnails'>
 for wine in rows
    .box.span3
      .thumbnail
        a(href='/wines/view/#{wine._id}')<img src='http://dribbble.s3.amazonaws.com/users/5259/screenshots/71084/shot_1288164080.jpg'/>
        .caption
           h4 #{wine.wine_name}
           p Производител: #{wine.producer_name}
 </div>
