extends small_header
block main-container
 .container
  h3 Добавяне на Вино
  p
   form(method='POST',action='')
    fieldset
     label Име: 
      input(type='text', name='wine_name');
     label Производител:
      select(name='producer_id')
       -for p in producers
        option(value='#{p.producer_name}') #{p.producer_name}
     label Вид:
      select(name='type')
       option(value='Червено') Червено
       option(value='Бяло') Бяло
       option(value='Розе') Розе
     label Година:
      input(type='text',name='year')
     label Цена:
      input(type='text',name='price')
     label Описание:
      textarea(name='description',rows='10')
     input.btn.btn-primary(type='submit')